.header__logo {
    background: center/contain url('../../../images/header-logo-image.svg') no-repeat #000;
    max-width: 142.01px;
    min-height: 33.4px;
    width: 16.1%;
}

@media screen and (min-width: 720px) and (max-width: 1279px) {
    .header__logo {
        width: 14%;
    }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
    .header__logo {
       width: 20%;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .header__logo {
        min-width: 103.74px;
        min-height: 24.4px;
        margin-left: 9.375vw;
    }
}