.popup__save-button {
    width: 100%;
    min-height: 50px;
    box-shadow: none;
    border: none;
    background-color: rgba(0,0,0,1);
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2px;
    transition: background-color 0.8s linear;
}

.popup__save-button:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:480px)  {
    .popup__save-button {
        font-size: 14px;
        line-height: 1.21;
    }
}