* {
    outline: 1px solid red;
}

.page {
    background-color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    min-width: 320px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
}