.element__image {
    object-fit: fill;
    background-color: #000;
    width: 100%;
    min-width: 282px;
    min-height: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    transition: opacity 0.8s linear;
}

.element__image:hover {
    cursor: pointer;
    opacity: 0.6;
}