.popup__form_type_zoomed-image {
    background: none;
    max-width: 75vw;
    width: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}