.profile__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 719px) {
    .profile__title {
        justify-content: center;
        margin-top: 3.2vw;
    }
}