.element__delete-button {
  border: none;
  box-shadow: none;
  background: none;
  background: center/contain url('../../../images/delete-button.svg') no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  min-height: 18px;
  min-width: 19.3px;
  transition: opacity 0.8s linear;
}

.element__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}