.header__close-button {
  display: none;
  min-width: 24px;
  min-height: 18px;
  box-shadow: none;
  border: none;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  background: center/30px 30px url('../../../images/closeHamburger.svg') no-repeat transparent;
}

.header__close-button:hover {
  background: center/30px 30px url('../../../images/closeHamburgerHover.svg') no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__close-button {
    display: block;
    margin-right: 9.375vw;
  }
}